@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');

:root{
    --cor-texto: #57A6A1;
    --cor-fundo: #000000;
    --cor-segundaria: #7a5fa1;
    --cor-azul: #344C64;
    --font:"Qwitcher Grypen", cursive;
}
body{
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
    font-family: var(--font);
}
header{
    background-color: var(--cor-segundaria);
    text-align: center;
}
h1{
    font-size: 2rem;
    color:var(--cor-fundo);
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color: var(--cor-fundo);
    margin: 0 2rem 1rem 0;
    font-size: 1.2rem;
}